<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anda.persistence.db.mapper.AssetMapper">

    <resultMap id="walletAssetResultMap" type="com.anda.persistence.model.BaseAsset">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="account_id" property="accountId"/>
        <result column="sequence_id" property="sequenceId"/>
        <result column="currency_id" property="currency"/>
        <result column="type" property="type"/>
        <result column="balance" property="balance"/>
        <result column="created_at" property="createTime"/>
        <result column="updated_at" property="updateTime"/>

    </resultMap>
    <insert id="insert" parameterType="com.anda.persistence.model.BaseAsset">
        insert  into tb_asset(
        user_id,
        account_id,
        sequence_id,
        currency_id,
        type,
        balance,
        created_at,
        updated_at
        )
        VALUES
        (
        #{userId},
        #{accountId},
        #{sequenceId},
        #{currency},
        #{type},
        #{balance},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <insert id="insertList" parameterType="com.anda.persistence.model.BaseAsset">
        insert into tb_asset(
        user_id,
        account_id,
        sequence_id,
        currency_id,
        type,
        balance,
        created_at,
        updated_at
        )
        VALUES
        <foreach collection="list" item="it" index="index" separator=",">
            (
            #{it.userId},
            #{it.accountId},
            #{it.sequenceId},
            #{it.currency},
            #{it.type},
            #{it.balance},
            #{it.createTime},
            #{it.updateTime}
            )
        </foreach>
    </insert>
    <select id="findByUserId" resultMap="walletAssetResultMap">
        select * from tb_asset where user_id = #{arg0}
    </select>
    <update id="update" parameterType="com.anda.persistence.model.BaseAsset">
        update tb_asset set
        sequence_id = #{sequenceId},
        balance = #{balance},
        updated_at = #{updateTime}
        WHERE account_id=#{accountId}
        and user_id= #{userId}
        and currency_id=#{currency}
    </update>
    <select id="findAll" resultMap="walletAssetResultMap">
        select * from tb_asset
    </select>
    <select id="findByAccountId" resultMap="walletAssetResultMap">
        select * from tb_asset
        where user_id=#{arg0}
        and account_id=#{arg1}
        and currency_id=#{arg2}
    </select>
</mapper>