<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anda.persistence.db.mapper.FillMapper">

    <resultMap id="fillResultMap" type="com.anda.persistence.model.Fill">
        <id column="id" property="id"/>
        <result column="sequence_id" property="sequenceId"/>
        <result column="fee" property="fee"/>
        <result column="trade_id" property="tradeId"/>
        <result column="order_id" property="orderId"/>
        <result column="is_taker" property="taker"/>
        <result column="fill_price" property="fillPrice"/>
        <result column="fill_quantity" property="fillQuantity"/>
        <result column="fill_value" property="fillValue"/>
        <result column="create_time" property="fillTime"/>
        <result column="remain_cost_limit" property="remainCostLimit"/>
        <result column="remain_qty_limit" property="remainQtyLimit"/>
        <result column="remain_hidden_qty" property="remainHiddenQty"/>
        <result column="remain_qty" property="remainQty"/>
        <result column="portfolio_id" property="portfolioId"/>
        <result column="settle_currency" property="settleCurrency"/>
        <result column="side" property="side"/>
        <result column="client_order_id" property="clientOrderId"/>
        <result column="contract_id" property="contractId"/>
        <result column="fee_rate" property="feeRate"/>
        <result column="trade_source" property="tradeSource"/>
    </resultMap>


    <insert id="insert" parameterType="com.anda.persistence.model.Fill">
        INSERT  INTO tb_fills_history(
        sequence_id,
        user_id,
        fee,
        trade_id,
        order_id,
        is_taker,
        fill_price,
        fill_quantity,
        fill_value,
        create_time,
        remain_cost_limit,
        remain_qty_limit,
        remain_hidden_qty,
        remain_qty,
        portfolio_id,
        settle_currency,
        side,
        contract_id,
        client_order_id,
        fee_rate,
        trade_source
        )
        VALUES(
        #{sequenceId},
        #{userId},
        #{fee},
        #{tradeId},
        #{orderId},
        #{isTaker},
        #{fillPrice},
        #{fillQuantity},
        #{fillValue},
        #{fillTime},
        #{remainCostLimit},
        #{remainQtyLimit},
        #{remainHiddenQty},
        #{remainQty},
        #{portfolioId},
        #{settleCurrency},
        #{side},
        #{contractId},
        #{clientOrderId},
        #{feeRate},
        #{tradeSource}
        )
    </insert>
    <insert id="insertList" parameterType="com.anda.persistence.model.Fill">
        INSERT INTO tb_fills_history(
        sequence_id,
        user_id,
        fee,
        trade_id,
        order_id,
        is_taker,
        fill_price,
        fill_quantity,
        fill_value,
        create_time,
        remain_cost_limit,
        remain_qty_limit,
        remain_hidden_qty,
        remain_qty,
        portfolio_id,
        settle_currency,
        side,
        contract_id,
        client_order_id,
        fee_rate,
        trade_source
        )
        VALUES
        <foreach collection="list" item="it" index="index" separator=",">
            (
            #{it.sequenceId},
            #{it.userId},
            #{it.fee},
            #{it.tradeId},
            #{it.orderId},
            #{it.isTaker},
            #{it.fillPrice},
            #{it.fillQuantity},
            #{it.fillValue},
            #{it.fillTime},
            #{it.remainCostLimit},
            #{it.remainQtyLimit},
            #{it.remainHiddenQty},
            #{it.remainQty},
            #{it.portfolioId},
            #{it.settleCurrency},
            #{it.side},
            #{it.contractId},
            #{it.clientOrderId},
            #{it.feeRate},
            #{it.tradeSource}
            )
        </foreach>
    </insert>


    <select id="find" resultMap="fillResultMap">
        select *
        from tb_fills_history
        where trade_id = #{arg0}
    </select>

</mapper>