<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anda.sub.mapper.PositionHistoryMapper">

    <resultMap id="positionResultMap" type="com.anda.sub.model.Position">
        <id column="id" property="id"/>
        <result column="sequence_id" property="sequenceId"/>
        <result column="position_id" property="positionId"/>
        <result column="after_size" property="size"/>
        <result column="after_cost" property="cost"/>
        <result column="after_realised_pnl" property="realisedPnl"/>
        <result column="after_settled_interest" property="settledInterest"/>
        <result column="after_settled_interest_fee" property="settledInterestFee"/>
        <result column="after_interest_fee" property="interestFee"/>
        <result column="after_trade_fee" property="tradeFee"/>
        <result column="change_size" property="changeSize"/>
        <result column="before_size" property="beforeSize"/>
        <result column="before_cost" property="beforeCost"/>
        <result column="before_realised_pnl" property="beforeRealisedPnl"/>
        <result column="before_settled_interest" property="beforeSettledInterest"/>
        <result column="before_trade_fee" property="beforeTradeFee"/>
        <result column="before_settled_interest" property="beforeSettledInterest"/>
        <result column="before_settled_interest_fee" property="beforeSettledInterestFee"/>
        <result column="trigger_by" property="triggerBy"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.anda.sub.model.Position">
        INSERT  INTO tb_position_history(sequence_id,position_id,
        after_size,after_cost,after_realised_pnl, after_settled_interest,after_settled_interest_fee,
        after_trade_fee, change_size,
        before_size,before_cost,before_realised_pnl,before_settled_interest,before_settled_interest_fee,
        before_trade_fee,trigger_by,create_time
        )
        VALUES (
          #{sequenceId}, #{positionId},
          #{size}, #{cost},  #{realisedPnl}, #{settledInterest},#{settledInterestFee},
          #{tradeFee},  #{changeSize},
          #{beforeSize}, #{beforeCost}, #{beforeRealisedPnl},#{beforeSettledInterest}, #{beforeSettledInterestFee},
          #{beforeTradeFee}, #{triggerBy},#{createTime}
        )
    </insert>
    <insert id="insertList" parameterType="it.unimi.dsi.fastutil.objects.ReferenceArrayList">
        INSERT  INTO tb_position_history(sequence_id,
        position_id,
        after_size,after_cost,after_realised_pnl, after_settled_interest,after_settled_interest_fee,
        after_trade_fee, change_size,
        before_size,before_cost,before_realised_pnl,before_settled_interest,before_settled_interest_fee,
        before_trade_fee,trigger_by,create_time
        )
        VALUES
        <foreach collection="list" item="it" index="index" separator=",">
            (
            #{it.sequenceId},  #{it.positionId},
            #{it.size}, #{it.cost},  #{it.realisedPnl}, #{it.settledInterest},#{it.settledInterestFee},
            #{it.tradeFee},  #{it.changeSize},
            #{it.beforeSize}, #{it.beforeCost}, #{it.beforeRealisedPnl},#{it.beforeSettledInterest}, #{it.beforeSettledInterestFee},
            #{it.beforeTradeFee},#{it.triggerBy},#{it.createTime}

            )
        </foreach>

    </insert>

    <select id="find" resultMap="positionResultMap">
        select *
        from tb_position_history
        where position_id = #{arg0}
    </select>

</mapper>