<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anda.persistence.db.mapper.SystemConfMapper">
    <resultMap id="sysConfResultMap" type="com.anda.persistence.model.SystemConf">
        <result column="key" property="key"/>
        <result column="value" property="value"/>
    </resultMap>
    <select id="find" resultType="string">
        select `value`  from tb_system_conf where `key`=#{arg0}
    </select>

    <insert id="insert" >
        insert  into tb_system_conf(`key`,`value`,`message`) values (#{arg0},#{arg1},#{arg2})
    </insert>
    <update id="update" >
        update  tb_system_conf set value=#{arg1} where `key`=#{arg0}
    </update>
    <delete id="deleteAll">
        delete from tb_fills_history;
        delete from tb_open_orders;
        delete from tb_positions;
        delete from tb_system_conf;
        delete from tb_account;
        delete from tb_asset;
        delete from tb_transaction;
    </delete>
</mapper>